<!-- creating three tabs for the three pages -->
<div class="tabs">
    <a class="tab bookmark-tab" routerLink="bookmarks" routerLinkActive="selected">
        <div class="tab-tile">
            <span class="material-symbols-outlined">
                kid_star
                </span>
        </div>
    </a>

    <a class="tab todo-tab" routerLink="todos" routerLinkActive="selected">
        <div class="tab-tile">
            <span class="material-symbols-outlined">
                done_outline
                </span>
        </div>
    </a>

    <a class="tab timetable" routerLink="schedule" routerLinkActive="selected">
        <div class="tab-tile">
            <span class="material-symbols-outlined">
                schedule
                </span>
        </div>
    </a>
</div>
