<!-- timetable.component.html -->
<h1>Your Schedule ...</h1>
<div class="container">
<div class="timetable">
    <table>
      <thead>
        <tr>
          <th></th>
          <ng-container *ngFor="let time of timeIntervals">
            <th>{{ time }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let day of daysOfWeek">
          <tr>
            <th class="sticky_col">{{ day }}</th>
            <ng-container *ngFor="let time of timeIntervals">
              <td class="data-cell" (click)="editOnClick(getSchedule(day, time)?.id)" >
                  {{ getContent(day, time) }}
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="edit-content">
    <router-outlet></router-outlet>
  </div>

</div>
  