<h1>Favourite Sites ...</h1>
<div class="bookmark-wrapper">
    <div class="container">

        <div type="button" class="btn btn-dark btns">
            <a routerLink="add-bookmark" class="add-btn">
                <span class="material-symbols-outlined">
                    add
                </span>
                Add
            </a>
        </div>

        <div class="bookmark-tiles-container">

            <app-bookmark-tile *ngFor="let bookmark of bookmarks" [bookmark]="bookmark"
            (editClick)="manageBookmark(bookmark)"
            ></app-bookmark-tile>
          

        </div>
    
    </div>
</div>
